{% extends "main/layout.html" %}

{% block title %}Контакты - Антиквариат{% endblock %}

{% block content %}
<section>
    <h2>Контакты</h2>
    <p>Свяжитесь с нами по следующим каналам:</p>
    <ul>
        <li>Email: скоро буддет</li>
        <li>Телефон: +7 (000) 000-00-00</li>
        <li>Адрес: г. Псков</li>
    </ul>
    <h3>Социальные сети</h3>
    <ul>
        <li><a href="https://facebook.com/antiquehub" target="_blank">Facebook</a></li>
        <li><a href="https://instagram.com/antiquehub" target="_blank">Instagram</a></li>
        <li><a href="https://twitter.com/antiquehub" target="_blank">Twitter</a></li>
    </ul>
</section>
{% endblock %}